fastapi
uvicorn[standard]
psycopg2-binary
opencv-python
numpy
requests
python-dotenv
google-genai
cloudinary
openai
pillow
langchain
pydantic
langchain_experimental
langchain_nvidia_ai_endpoints
pandas