fastapi
uvicorn[standard]
psycopg2-binary
numpy
requests
python-dotenv
cloudinary
langchain
pydantic
langchain_experimental
langchain_nvidia_ai_endpoints
pandas
langchain_community
langchain_text_splitters
beautifulsoup4